.title {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;

    
    h1 {
        display: inline-block;
        align-self: center;
        font-size: 40px;
    }
}

.newchar {

    .addnewchar {
        color: white;
        background-color: teal;
        border: 1px solid grey;
        padding: 15px 20px 15px 20px;
        &:hover{
            background-color: seagreen;
        }
        &:active {
            color: teal;
            background-color: white;
        }
    }
}

.mainchart {

    .cards {
        display: flex;
        flex-direction: column;
        background-color: rgb(231, 231, 231);
        justify-content: space-between;
        &:hover {
            box-shadow: 0px 0px 8px 5px seagreen;
        }


        
        .characpic {
            box-sizing: border-box;
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .name {
            padding: 15px 10px 15px 10px;
            font-size: 24px;
            text-align: center;
        }

        .shortdesc {
            padding: 5px 10px 5px 10px;
            text-align: justify;
            word-wrap: break-word;
        }

        .buttons {
            display: flex;
            flex-direction: row;
    
            .cardbuttons {
                display: inline-block;
                position: relative;
                box-sizing: border-box;
                color: white;
                background-color: teal;
                width: 50%;
                border: 1px solid grey;
                padding: 15px 0 15px 0;
                &:hover{
                    background-color: seagreen;
                }
                &:active {
                    color: teal;
                    background-color: white;
                }
    
            }
        }
    }
}

#togglemain {
    display: none;
    background-color: rgb(231, 231, 231);
    &:hover {
        box-shadow: 0px 0px 8px 5px seagreen;
    }


    .imgbox {

        .singleimg {
            width : 100%;
            height: auto;
            border-radius: 20px;
        }
    }

    .chardata {
        
        h2 {
            font-size: 36px;
            padding : 15px 0 15px 0;
        }

        h3 {
            font-size: 24px;
            padding : 10px 0 10px 0;
        }

        .desctext {
            font-size: 16;
            line-height: 1.3em;
            padding: 5px 0 5px 0;
            text-align: justify;
            word-wrap: break-word;
        }
    }

    .mainbuttons {
        
        .buttonm {

            display: inline-block;
            position: relative;
            box-sizing: border-box;
            color: white;
            background-color: teal;
            width: 80%;
            
            padding: 0px;
            margin: 10px 10% 10px 10%;
            border: 1px solid grey;
            padding: 10px 0 10px 0;
            &:hover{
                background-color: seagreen;
            }
            &:active {
                color: teal;
                background-color: white;
            }
        }

    }
}

@media only screen and (max-width: 450px) {
    .newchar {
        text-align: center;
        margin: 50px 20px 50px 20px;
    }

    .mainchart {
        margin: 50px 20px 50px 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        row-gap: 30px;
    }

    #togglemain {
    
        width: 90%;
        height: 100vh;

        grid-template-columns: 100%;
        grid-template-rows: auto;
        row-gap: 20px;
        border: 1px solid black;
    
        padding: 30px;
        border-radius: 20px;
    
        position: fixed;
        box-sizing: border-box;
        overflow: scroll;
        
        top: 0px;
        left: 5%;
        
        .imgbox {
            
        }

        .chardata {
            
        }
        
        .mainbuttons {
            
        } 
    }
}

@media only screen and (min-width: 451px) and (max-width:800px)  {
    .newchar {
        text-align: right;
        margin: 50px 30px 50px 30px;
    }
    .mainchart {
        margin: 50px 30px 50px 30px;
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: auto;
        column-gap: 6%;
        row-gap: 30px;
    }

    #togglemain {
    
        width: 90%;
        grid-template-columns: 30% 66%;
        column-gap: 4%;
        grid-template-rows: auto auto;
        row-gap: 20px;
        border: 1px solid black;
    
        padding: 30px;
        border-radius: 20px;
    
        position: fixed;
        box-sizing: border-box;
        
        top: 5%;
        left: 5%;
        
        .imgbox {
            grid-column : 1 / 2;
            grid-row: 1 / 2;
        }

        .chardata {
            grid-column: 2 / 3;
            grid-row : 1 / 3;
        }
        
        .mainbuttons {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        } 
    }

    
}

@media only screen and (min-width: 801px) and (max-width:1280px)  {
    .newchar {
        width: 75%;
        text-align: right;
        margin: 50px auto 50px auto;
    }

    .mainchart {
        width: 75%;
        margin: 50px auto 100px auto;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto;
        column-gap: 5%;
        row-gap: 30px;
    }

    #togglemain {
    
        width: 80%;
        grid-template-columns: 30% 66%;
        column-gap: 4%;
        grid-template-rows: auto auto;
        row-gap: 20px;
        border: 1px solid black;
    
        padding: 30px;
        border-radius: 20px;
    
        position: fixed;
        box-sizing: border-box;
        
        left: 10%;
        top: 10%;
        
        .imgbox {
            grid-column : 1 / 2;
            grid-row: 1 / 2;
        }

        .chardata {
            grid-column: 2 / 3;
            grid-row : 1 / 3;
        }
        
        .mainbuttons {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        } 
    }
}

@media screen and (min-width: 1281px)  {
    .newchar {
        width: 75%;
        text-align: right;
        margin: 50px auto 50px auto;
    }
    
    .mainchart {
        width: 75%;
        margin: 50px auto 100px auto;
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: auto;
        column-gap: 4%;
        row-gap: 30px;
    }

    #togglemain {
    
        width: 80%;
        grid-template-columns: 320px auto;
        column-gap: 4%;
        grid-template-rows: auto auto;
        row-gap: 20px;
        border: 1px solid black;
    
        padding: 30px;
        border-radius: 20px;
    
        position: fixed;
        box-sizing: border-box;
        
        left: 10%;
        top: 10%;

        .imgbox {
            grid-column : 1 / 2;
            grid-row: 1 / 2;
        }

        .chardata {
            grid-column: 2 / 3;
            grid-row : 1 / 3;
        }

        .mainbuttons {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }    
    }
}